body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

#calcBody {
  box-shadow: 5px 5px 50px darkcyan inset;
  background-image: linear-gradient(#3bb3ff, #e5b067);
  border-radius: 20px;
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

input {
  box-shadow: 5px 5px 5px lightblue inset;
  background-color: blanchedalmond;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  font-size: 72px;
  text-align: right;
  border: 1px solid darkcyan;
}

#numWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 8px;
  padding: 10px;
}

button {
  box-shadow: 3px 3px 10px lightgrey inset;
  background-color: thistle;
  height: 80px;
  width: 100px;
  border-radius: 10px;
  border-style: none;
  font-size: 30px;
  border: 1px solid darkcyan;
}

button:hover {
  background-color: lightblue;
}

button:active {
  background-color: darkcyan;
}

#inpWrapper {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

#oprWrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

#buttonEnter {
  height: 120px;
}

#buttonAdd,
#buttonSub,
#buttonMult,
#buttonDiv,
#clear {
  box-shadow: 3px 3px 10px palevioletred inset;
  background-color: grey;
  height: 50px;
}

#clear {
  box-shadow: 5px 5px 5px lavender inset;
  background-color: wheat;
}

#buttonAdd:hover,
#buttonSub:hover,
#buttonMult:hover,
#buttonDiv:hover,
#clear:hover {
  background-color: lightcoral;
}

#buttonAdd:active,
#buttonSub:active,
#buttonMult:active,
#buttonDiv:active,
#clear:active {
  background-color: darkred;
}

#input:focus {
  outline: none;
}

@keyframes pulse {
  0%,
  100% {
    color: red;
  }
  50% {
    color: darkblue;
  }
}

h1 {
  font-size: 50px;
  animation: pulse 5s infinite;
}
