body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

#calcBody {
  background-image: linear-gradient(#3bb3ff, #e5b067);
  border-radius: 20px;
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

input {
  background-color: aliceblue;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  font-size: 72px;
  text-align: right;
}

#numWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 8px;
  padding: 10px;
}

button {
  box-shadow: 3px 3px 3px pink inset;
  background-color: aliceblue;
  height: 80px;
  width: 100px;
  border-radius: 10px;
  border-style: none;
  font-size: 30px;
}

button:hover {
  background-color: lightblue;
}

button:active {
  background-color: darkcyan;
}

#inpWrapper {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

#oprWrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

#buttonEnter {
  height: 120px;
}

#buttonAdd,
#buttonSub,
#buttonMult,
#buttonDiv,
#clear {
  background-color: grey;
  height: 50px;
}

#clear {
  background-color: wheat;
}

#buttonAdd:hover,
#buttonSub:hover,
#buttonMult:hover,
#buttonDiv:hover,
#clear:hover {
  background-color: lightcoral;
}

#buttonAdd:active,
#buttonSub:active,
#buttonMult:active,
#buttonDiv:active,
#clear:active {
  background-color: darkred;
}

#input:focus {
  outline: none;
}
